<div class="container-fluid">
    <div>
        <div style="position: absolute; background-color: rgba(0, 0, 0, 0.187); height: 26dvi;" class="w-100"></div>
        <img src="hinh/tin_tuc_nav.png" class="d-block w-100 " alt="...">
    </div>
</div>

<!-- body tin tức -->
<div class="container mt-4">
    <div class="row">
        <div class="col-sm-4">
            <h2 class="mb-4"  style="color: #d3b673; font-weight: bold;">Danh Mục Tin Tức</h2>
            <div class="ms-4 list-tintuc" style="font-weight: lighter; font-weight: 500;">
                <p><u>Câu chuyện thương hiệu</u></p>
                <p>Tin tức khuyến mãi</p>
                <p>Sự kiện</p>
            </div>
        </div>




        <div class="col-sm-8">
            <div>
                <h2 class="mb-4"  style="color: #000000; font-weight: bold;">Câu chuyện thương hiệu</h2>
            </div>
            <div class="d-flex flex-wrap w-100 justify-content-between">
                <div style="width: 48%;">
                    <a href="#!view/body-ctthuonghieu">
                        <img src="hinh/cc_thuong_hieu.jpg" alt="" style="width: 100%;">
                    </a>
                    <div class="p-3 bg-tintuc">
                        <div style="font-weight: bold;" class="mb-2">ToCoToCo embraces community engagement as a core corporate responsibility</div>
                        <div style="font-size: 13px;">
                          Community and social activities are one of the top focuses in ToCoToCo’s sustainable development strategy, along with innovation efforts to bring consumers quality milk tea cups. Pioneering milk tea brand […]
                        </div>
                        <p style="margin-top: 5px;" class="">
                            <div class="mt-3 btn-tintuc" style="display: flex;">
                            <a class="" href="#" style="text-decoration: none; ">XEM THÊM</a>
                            </div>
                        </p>
                    </div>
                </div>
                <div style="width: 48%;">
                    <a href="#">
                        <img src="hinh/cc_thuong_hieu_1.png" alt="" style="width: 100%;">
                    </a>
                    <div class="p-3 bg-tintuc">
                        <div style="font-weight: bold;" class="mb-2">Optimising profitability for franchising ToCoToCo brand by utilising local high-quality materials</div>
                        <div style="font-size: 13px;">
                          The journey of researching and refining the essence of Vietnamese agricultural products in bubble tea offerings contributes to making ToCoToCo become a national milk tea brand. Consistency with ingredients made […]
                        </div>
                        <p style="margin-top: 5px;" class="">
                            <div class="mt-3 btn-tintuc" style="display: flex;">
                            <a class="" href="#" style="text-decoration: none; ">XEM THÊM</a>
                            </div>
                        </p>
                    </div>
                </div>

                <div style="width: 48%;">
                  <a href="#">
                      <img src="hinh/cc_thuong_hieu.jpg" alt="" style="width: 100%;">
                  </a>
                  <div class="p-3 bg-tintuc">
                      <div style="font-weight: bold;" class="mb-2">ToCoToCo embraces community engagement as a core corporate responsibility</div>
                      <div style="font-size: 13px;">
                        Community and social activities are one of the top focuses in ToCoToCo’s sustainable development strategy, along with innovation efforts to bring consumers quality milk tea cups. Pioneering milk tea brand […]
                      </div>
                      <p style="margin-top: 5px;" class="">
                          <div class="mt-3 btn-tintuc" style="display: flex;">
                          <a class="" href="#" style="text-decoration: none; ">XEM THÊM</a>
                          </div>
                      </p>
                  </div>
              </div>
              <div style="width: 48%;">
                  <a href="#">
                      <img src="hinh/cc_thuong_hieu_1.png" alt="" style="width: 100%;">
                  </a>
                  <div class="p-3 bg-tintuc">
                      <div style="font-weight: bold;" class="mb-2">Optimising profitability for franchising ToCoToCo brand by utilising local high-quality materials</div>
                      <div style="font-size: 13px;">
                        The journey of researching and refining the essence of Vietnamese agricultural products in bubble tea offerings contributes to making ToCoToCo become a national milk tea brand. Consistency with ingredients made […]
                      </div>
                      <p style="margin-top: 5px;" class="">
                          <div class="mt-3 btn-tintuc" style="display: flex;">
                          <a class="" href="#" style="text-decoration: none; ">XEM THÊM</a>
                          </div>
                      </p>
                  </div>
              </div>
            </div>

        </div>




    </div>
</div>
