<div class="container-fluid">
    <div>
        <div style="position: absolute; background-color: rgba(0, 0, 0, 0.187); height: 403px;" class="w-100"></div>
        <img src="hinh/tin_tuc_nav.png" class="d-block w-100 " alt="...">
    </div>
</div>

<!-- body tin tức -->
<div class="container mt-4">
    <div class="row">
        <div class="col-sm-4">
            <h2 class="mb-4"  style="color: #d3b673; font-weight: bold;">Danh Mục Tin Tức</h2>
            <div class="ms-4 list-tintuc" style="font-weight: lighter; font-weight: 500;">
                <p>Câu chuyện thương hiệu</p>
                <p><u>Tin tức khuyến mãi</u></p>
                <p>Sự kiện</p>
            </div>
        </div>




        <div class="col-sm-8">
            <div>
                <h2 class="mb-4"  style="color: #000000; font-weight: bold;">Có gì đặc biệt trong set quà độc quyền chào mừng 20/10 của ToCoToCo?</h2>
            </div>
            <div style="font-size: 17px; font-style: italic;">
                Ngày đăng: 18/10/2023
            </div>
            <div style="font-size: 14px; margin-top: 5px;">
                Nhân dịp một nửa thế giới nhận quà ngày 20/10, ToCoToCo đón đầu cơn sốt tặng phái đẹp Una Collagen đẹp da, sáng mịn khi mua trà sữa ToCoToCo combo từ 50k. Đây là dịp để chị em phụ nữ có thời gian chăm chút bản thân, tự thưởng những món quà yêu thích để tự tin và tỏa sáng hơn.
            </div>
            <div style="font-size: 14px; margin-top: 10px;">
                20/10 là ngày mà người phụ nữ cần được tôn vinh và quan tâm nhiều hơn, do đó một món quà ý nghĩa sẽ là niềm hạnh phúc vô bờ. Bắt trúng tâm lý các nàng, ToCoToCo vừa chiêu đãi trà sữa size L chỉ 25k, ly 1 lít 35k mà còn được tặng Una Collagen đẹp da sáng mịn. Chỉ cần hóa đơn từ 50k là các nàng nhận ngay 2 Una Collagen, hóa đơn 100k là nhận 1 hộp Una Una Collagen 4 gói. Vừa được uống trà sữa, vừa được tặng Collagen còn gì bằng, quà tặng quá hấp dẫn phải không các nàng?                
            </div>
            <div class="mt-2">
                <img src="hinh/tin_tuc.jpg" alt="" class="w-100">
            </div>
            <div style="font-size: 14px; margin-top: 10px;">
                Món quà nhỏ nhưng chất lượng lớn. Mỗi gói Collagen có nhiều thành phần yến tươi, Placenta, HA, mầm đậu nành dễ dàng hấp thu vào cơ thể, mang lại hiệu quả cao hỗ trợ giúp da đàn hồi, giảm lão hóa da, hỗ trợ da săn chắc, sáng mịn.
            </div>
            <div style="font-size: 14px; margin-top: 10px;">
                Món quà nhỏ nhưng chất lượng lớn. Mỗi gói Collagen có nhiều thành phần yến tươi, Placenta, HA, mầm đậu nành dễ dàng hấp thu vào cơ thể, mang lại hiệu quả cao hỗ trợ giúp da đàn hồi, giảm lão hóa da, hỗ trợ da săn chắc, sáng mịn.
            </div>
            <div class="mt-2">
                <img src="hinh/tin_tuc1-1.jpg" alt="" class="w-100">
            </div>
            <div style="font-size: 14px; margin-top: 10px;">
                Luôn lấy sức khỏe của khách hàng làm trọng nên các nguồn nguyên liệu như: trà, sữa, thạch, trân châu… ở đây đều được thương hiệu tuyển chọn từ nông sản Việt. Đó cũng là lý do tại sao khi thưởng thức trà sữa ToCoToCo, bạn luôn cảm nhận được rõ ràng vị ngọt ngào của sữa, vị chát nhẹ từ trà, vị thơm thoảng thoảng của các loại trái cây…
            </div>
            <div style="font-size: 14px; margin-top: 10px;">
                ToCoToCo sở hữu một đội ngũ các bạn nhân viên luôn làm việc với một tinh thần thân thiện, mến khách, nhiệt tình và sẵn sàng giúp bạn chọn lựa được thức uống phù hợp với khẩu vị bản thân.
            </div>
            <div style="font-size: 14px; margin-top: 10px;">
                Hãy dành tặng người ấy những niềm vui, món quà bất ngờ thú vị dịp 20/10 ý nghĩa này nhé. ToCoToCo sẽ luôn đồng hành gửi gắm tất cả sự quan tâm và yêu thương vào món quà mà bạn tặng đến người yêu thương của mình.
            </div>

            <div class="mt-5 custom">
                <p>Tìm hiểu thêm về ToCoToCo:</p>
                <p>Website: https://tocotocotea.com/</p>
                <p>Fanpage ToCoToCo: https://www.facebook.com/tocotocobubbletea</p>
                <p>Instagram: https://bit.ly/ToCoToCo_Instagram</p>
                <p>Tiktok: https://bit.ly/ToCoToCo_TikTok</p>
                <p>Hotline: 1900 63 69 36</p>
            </div>
        </div>




    </div>
</div>