<div class="container-fluid">
    <div>
        <div style="position: absolute; background-color: rgba(0, 0, 0, 0.187); height: 403px;" class="w-100"></div>
        <img src="hinh/tin_tuc_nav.png" class="d-block w-100 " alt="...">
    </div>
</div>

<!-- body tin tức -->
<div class="container mt-4">
    <div class="row">
        <div class="col-sm-4">
            <h2 class="mb-4"  style="color: #d3b673; font-weight: bold;">Danh Mục Tin Tức</h2>
            <div class="ms-4 list-tintuc" style="font-weight: lighter; font-weight: 500;">
                <p><u>Câu chuyện thương hiệu</u></p>
                <p>Tin tức khuyến mãi</p>
                <p>Sự kiện</p>
            </div>
        </div>




        <div class="col-sm-8">
            <div>
                <h2 class="mb-4"  style="color: #000000; font-weight: bold;">
                  ToCoToCo embraces community engagement as a core corporate responsibility            </h2>
            </div>
            <div style="font-size: 17px; font-style: italic;">
              Ngày đăng: 22/01/2024
            </div>
            <div style="font-size: 14px; margin-top: 5px;">
              As the milk tea business is becoming increasingly competitive, many new brands appear and some others got out of the game, ToCoToCo still maintains a stable performance with about 3 millions cups of milk tea sold every month.
            </div>
            <div style="font-size: 14px; margin-top: 10px;">
              A representative of ToCoToCo bubble milk tea said that it is the trust and companionship of nearly 10 million customers that has helped this brand achieve steady development over the past decade.              
            </div>
            <div style="font-size: 14px; margin-top: 10px;">
              “Customers choose ToCoToCo products not only because of delicious taste but also their love for the brand, the story we are telling and the values ToCoToCo is spreading,” said this representative.             
            </div>
            <div class="mt-2">
                <img src="hinh/thuonghieu.jpg" alt="" class="w-100">
            </div>
            <div style="font-size: 14px; margin-top: 10px;">
              ToCoToCo representative affirmed that the business is always loyal to sustainable development orientation and is ready to accompany customers to change consumption habits that can negatively impact the environment.
            </div>
            <div style="font-size: 14px; margin-top: 10px;">
              ToCoToCo is also a pioneer brand in constantly changing packaging designs and switching to using paper cups and paper straws since <strong>many</strong>
              years ago. In product communication campaigns, this brand also prioritises spreading the message of environmental protection and sustainable green living, calling on young customers to take actions to raise awareness towards no plastic waste through sustainable consumption habits.
            </div>
            <div style="font-size: 14px; margin-top: 10px;" class="fw-bolder">
              Support nurturing young talent and create thousands of new job opportunities
            </div>
            <div style="font-size: 14px; margin-top: 10px;" class="fw-bolder">
              Different from other milk tea brands, ToCoToCo not only considers generation Z as its target customer group but is always ready to accompany, support and motivate them to conquer higher levels on the path of knowledge. 
            </div>
            <div style="font-size: 14px; margin-top: 10px;">
              Every month, ToCoToCo encourages young talents through programmes and events organised by high schools and universities in Hanoi and Ho Chi Minh City. The brand chooses events that promote intelligence as a way to encourage and energise the younger generation, including the English eloquence contest of High School for Foreign Languages, 
              <strong>
                MIG 2023 – Model International Government event organised by the History for everyone club (HE) of High School for the Gifted, Hanoi National University of Education, 
              </strong>
              or the annual sports festival organised exclusively for students of the ISB Institute at the University of Economics Ho Chi Minh City.
            </div>
            <div class="mt-2">
                <img src="hinh/thuonghieu1.jpg" class="w-100">
            </div>
            <div style="font-size: 14px; margin-top: 10px;">
              <strong>Enthusiastically respond to social activities</strong>
            </div>
            <div style="font-size: 14px; margin-top: 10px;">
              As a Vietnamese milk tea brand, run and founded by Vietnamese people, ToCoToCo also attaches great importance to community support activities, spreading the humane lifestyle and the beautiful spirit of solidarity of Vietnamese people.
            </div>
            <div class="mt-2">
                <img src="hinh/cc_thuong_hieu.jpg" class="w-100">
            </div>
            <div style="font-size: 14px; margin-top: 10px;">
              The brand also demonstrates humanity with activities of giving gifts to children in difficult circumstances at hospitals and loving homes every Mid-Autumn Festival. Hundreds of gifts in kind and cash were given to children by the ToCoToCo team with the desire to bring a warm Mid-Autumn Festival, partially repair their hurt feelings, and at the same time encourage them to be strong in overcoming various challenges in life.
            </div>

            <div class="mt-5 custom">
                <p>Tìm hiểu thêm về ToCoToCo:</p>
                <p>Website: https://tocotocotea.com/</p>
                <p>Fanpage ToCoToCo: https://www.facebook.com/tocotocobubbletea</p>
                <p>Instagram: https://bit.ly/ToCoToCo_Instagram</p>
                <p>Tiktok: https://bit.ly/ToCoToCo_TikTok</p>
                <p>Hotline: 1900 63 69 36</p>
            </div>
        </div>




    </div>
</div>