<div style="background-color: rgba(0, 0, 0, 0.349);" class="footer-tong" ng-if="show">  
    <div class="container">
      <div class="main-footer" style="display: flex;">
        <img src="hinh/logo-to.png" alt="" width="20%" style="object-fit: contain;">
        <div class="footer-1 mt-5 w-75" style="padding-left: 30px;">
          <div class="footer-title fw-bold">Công ty CP TM & Dv Taco Việt Nam</div>
          <div class="footer-line">
            <i class="fas fa-map-marker" aria-hidden="true"></i>
            Tầng 2 tòa nhà T10, Times City Vĩnh Tuy, Hai Bà Trưng, Hà Nội.
          </div>
          <div class="footer-line">
            <i class="fas fa-phone" aria-hidden="true"></i>
            1900.63.69.36
          </div>
          <div class="footer-line">
            <i class="fas fa-envelope" aria-hidden="true"></i>
            info@tocotocotea.com
          </div>
          <div class="footer-line">
            <!-- <i class="fas fa-envelope" aria-hidden="true"></i> -->
            Số ĐKKD: 0106341306. Ngày cấp: 16/03/2017.
          </div>
          <div class="footer-line">
            <!-- <i class="fas fa-envelope" aria-hidden="true"></i> -->
            Nơi cấp: Sở kế hoạch và Đầu tư Thành phố Hà Nội.
          </div>
          <div class="footer-line soccial">
            <a href="#">
              <i class="fab fa-facebook-square" aria-hidden="true"></i>
            </a>
            <a href="#">
              <i class="fab fa-instagram" aria-hidden="true"></i>
            </a>
            <a href="#">
              <i class="fab fa-youtube" aria-hidden="true"></i>
            </a>
            <a href="#">
              <i class="fab fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="#">
              <i class="fab fa-google-plus" aria-hidden="true"></i>
            </a>
          </div>
          <div class="footer-line dowload">
            <a href="#">
              <img src="hinh/footer/Googleplay.png" alt="" style="width: 65%;">
            </a>
            <a href="#">
              <img src="hinh/footer/Appstore.png" alt=" "  style="width: 65%;">
            </a>
            <a href="#">
              <img src="hinh/footer/bo_cong_thuong_grande.png" alt="" style="width: 65%;">
            </a>
          </div>
        </div>
        <div class="footer-2 w-50 ms-4 mt-5">
          <div class="footer-title fw-bold">Về chúng tôi</div>
          <ul class="footer-content">
            <li class="">Giới thiệu về TocoToco</li>
            <li class="">Nhượng quyền</li>
            <li class="">Tin tức khuyến mại</li>
            <li class="">Quy định chung</li>
            <li class="">TT liên hệ & ĐKKD</li>
          </ul>
        </div>
        <div class="footer-2 w-50 ms-4 mt-5">
          <div class="footer-title fw-bold">Chính Sách</div>
          <ul class="footer-content">
            <li class="">Chính sách thành viên</li>
            <li class="">Hình thức thanh toán</li>
            <li class="">Vận chuyển giao nhận</li>
            <li class="">Đổi trả và hoàn tiền</li>
            <li class="">Bảo vệ thông tin cá nhân</li>
            <li class="">Bảo trì, bảo hành</li>
          </ul>
        </div>
      </div>
      <div class="bottom-footer">
        <div class="left">
        ToCoToCo - Thương hiệu trà sữa tiên phong sử dụng nguồn nông sản Việt Nam
        </div>
        <div class="right">
            Copyrights © 2019 by ToCoToCoTea. All rights reserved.
        </div>
      </div>
    </div>
  </div>