<div id="nav-wrap" style="position: absolute; width: 100%; z-index: 99; "   ng-if="show">
  <div class="container">
    <nav class="navbar navbar-expand-lg bg-body-tertiary" >
        <div class="container-fluid" style="display: flex; justify-content: center ;">
            <a href="#!home">
                <img src="hinh/Logo-ngang-01.png" alt="" style="width: 200px;">
            </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" style="margin: 0px 0px 0px 10px;">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse " id="navbarSupportedContent" style="justify-content: space-evenly">
            <ul class="nav nav-fill " style=" align-items: center;">
                <li class="nav-item ">
                    <a class="nav-link text-color" href="#" >TRANG CHỦ</a>
                </li>
                <li class="nav-item dropdown" >
                  <a class="btn dropdown-toggle border border-0 m-0 text-color" href="#" data-bs-toggle="dropdown">
                    GIỚI THIỆU
                  </a>
                  <ul class="dropdown-menu border border-0 m-0" style="top: 38px;">
                    <li><a class="dropdown-item " href="#!view/body-sumenh">LỊCH SỬ VÀ SỨ MỆNH</a></li>
                    <li><a class="dropdown-item" href="#">THÀNH TỰU ĐẠT ĐƯỢC</a></li>
                  </ul>
                </li>
                <li class="nav-item dropdown">
                  <a class="btn dropdown-toggle border border-0 m-0 text-color" href="#" data-bs-toggle="dropdown">
                    SẢN PHẨM
                  </a>
                  <ul class="dropdown-menu border border-0 m-0" style="top: 38px; ">
                    <li><a class="dropdown-item " href="#!view/giohang">TOCOTOCO TRÀ SỮA</a></li>
                    <li><a class="dropdown-item" href="#!view/giohang">TOCOTOCO KEM CAFE</a></li>
                    <li><a class="dropdown-item" href="#!view/giohang">INSTANT MILK TEA</a></li>
                  </ul>
                </li>
                <li class="nav-item dropdown">
                  <a class="btn dropdown-toggle border border-0 m-0 text-color" href="#" data-bs-toggle="dropdown" >
                    TIN TỨC
                  </a>
                  <ul class="dropdown-menu border border-0 m-0" style="top: 38px; ">
                    <li><a class="dropdown-item " href="#!view/body-tintuc">TIN TỨC KHUYẾN MÃI</a></li>
                    <li><a class="dropdown-item" href="#!view/body-thuonghieu">CÂU CHUYỆN THƯƠNG HIỆU</a></li>
                    <li><a class="dropdown-item" href="#!view/body-thuonghieu">SỰ KIỆN</a></li>
                  </ul>
                </li>
                <li class="nav-item dropdown">
                  <a class="btn dropdown-toggle border border-0 m-0 text-color" href="#" data-bs-toggle="dropdown" >
                    CỬA HÀNG
                  </a>
                  <ul class="dropdown-menu border border-0 m-0" style="top: 38px; ">
                    <li><a class="dropdown-item " href="#">TOCOTOCO TRÀ SỮA</a></li>
                    <li><a class="dropdown-item" href="#">TOCOTOCO KEM CAFE</a></li>
                  </ul>
                </li>
                <li class="nav-item">
                      <a class="nav-link  text-color" href="#" >TUYỂN DỤNG</a>
                </li>
                <li class="nav-item">
                      <a class="nav-link text-color" href="#">NHƯỢNG QUYỀN</a>
                </li>  
            </ul>
            <form role="search" style="display: flex; justify-content: space-evenly;">
                <a href="#" style="background-color: #d3b673; padding: 6px 9px 6px 9px; border-radius: 50%;">
                    <i class="fa-solid fa-magnifying-glass fa-beat-fade" style="color: white;"></i>
                </a>
            </form>
          </div>
        </div>
      </nav>


  </div>
</div>